@font-face {
    font-family: 'Tusker Grotesk 2600';
    src: url('/Fonte/TuskerGrotesk-2600Semibold.eot');
    src: local('Tusker Grotesk 2600 Semibold'), local('TuskerGrotesk-2600Semibold'),
        url('/Fonte/TuskerGrotesk-2600Semibold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-2600Semibold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-2600Semibold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-2600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 3500';
    src: url('/Fonte/TuskerGrotesk-3500Medium.eot');
    src: local('Tusker Grotesk 3500 Medium'), local('TuskerGrotesk-3500Medium'),
        url('/Fonte/TuskerGrotesk-3500Medium.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-3500Medium.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-3500Medium.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-3500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 7600';
    src: url('/Fonte/TuskerGrotesk-7600Semibold.eot');
    src: local('Tusker Grotesk 7600 Semibold'), local('TuskerGrotesk-7600Semibold'),
        url('/Fonte/TuskerGrotesk-7600Semibold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-7600Semibold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-7600Semibold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-7600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 5700';
    src: url('/Fonte/TuskerGrotesk-5700Bold.eot');
    src: local('Tusker Grotesk 5700 Bold'), local('TuskerGrotesk-5700Bold'),
        url('/Fonte/TuskerGrotesk-5700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-5700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-5700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-5700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 1800 Super';
    src: url('/Fonte/TuskerGrotesk-1800Super.eot');
    src: local('Tusker Grotesk 1800 Super'), local('TuskerGrotesk-1800Super'),
        url('/Fonte/TuskerGrotesk-1800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-1800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-1800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-1800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 9800 Super';
    src: url('/Fonte/TuskerGrotesk-9800Super.eot');
    src: local('Tusker Grotesk 9800 Super'), local('TuskerGrotesk-9800Super'),
        url('/Fonte/TuskerGrotesk-9800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-9800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-9800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-9800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 8700';
    src: url('/Fonte/TuskerGrotesk-8700Bold.eot');
    src: local('Tusker Grotesk 8700 Bold'), local('TuskerGrotesk-8700Bold'),
        url('/Fonte/TuskerGrotesk-8700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-8700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-8700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-8700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 7800 Super';
    src: url('/Fonte/TuskerGrotesk-7800Super.eot');
    src: local('Tusker Grotesk 7800 Super'), local('TuskerGrotesk-7800Super'),
        url('/Fonte/TuskerGrotesk-7800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-7800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-7800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-7800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 2500';
    src: url('/Fonte/TuskerGrotesk-2500Medium.eot');
    src: local('Tusker Grotesk 2500 Medium'), local('TuskerGrotesk-2500Medium'),
        url('/Fonte/TuskerGrotesk-2500Medium.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-2500Medium.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-2500Medium.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-2500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 5500';
    src: url('/Fonte/TuskerGrotesk-5500Medium.eot');
    src: local('Tusker Grotesk 5500 Medium'), local('TuskerGrotesk-5500Medium'),
        url('/Fonte/TuskerGrotesk-5500Medium.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-5500Medium.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-5500Medium.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-5500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 3800 Super';
    src: url('/Fonte/TuskerGrotesk-3800Super.eot');
    src: local('Tusker Grotesk 3800 Super'), local('TuskerGrotesk-3800Super'),
        url('/Fonte/TuskerGrotesk-3800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-3800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-3800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-3800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 1500';
    src: url('/Fonte/TuskerGrotesk-1500Medium.eot');
    src: local('Tusker Grotesk 1500 Medium'), local('TuskerGrotesk-1500Medium'),
        url('/Fonte/TuskerGrotesk-1500Medium.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-1500Medium.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-1500Medium.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-1500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 1700';
    src: url('/Fonte/TuskerGrotesk-1700Bold.eot');
    src: local('Tusker Grotesk 1700 Bold'), local('TuskerGrotesk-1700Bold'),
        url('/Fonte/TuskerGrotesk-1700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-1700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-1700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-1700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 4800 Super';
    src: url('/Fonte/TuskerGrotesk-4800Super.eot');
    src: local('Tusker Grotesk 4800 Super'), local('TuskerGrotesk-4800Super'),
        url('/Fonte/TuskerGrotesk-4800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-4800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-4800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-4800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 1600';
    src: url('/Fonte/TuskerGrotesk-1600Semibold.eot');
    src: local('Tusker Grotesk 1600 Semibold'), local('TuskerGrotesk-1600Semibold'),
        url('/Fonte/TuskerGrotesk-1600Semibold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-1600Semibold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-1600Semibold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-1600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 6500';
    src: url('/Fonte/TuskerGrotesk-6500Medium.eot');
    src: local('Tusker Grotesk 6500 Medium'), local('TuskerGrotesk-6500Medium'),
        url('/Fonte/TuskerGrotesk-6500Medium.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-6500Medium.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-6500Medium.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-6500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 6800 Super';
    src: url('/Fonte/TuskerGrotesk-6800Super.eot');
    src: local('Tusker Grotesk 6800 Super'), local('TuskerGrotesk-6800Super'),
        url('/Fonte/TuskerGrotesk-6800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-6800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-6800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-6800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 4500';
    src: url('/Fonte/TuskerGrotesk-4500Medium.eot');
    src: local('Tusker Grotesk 4500 Medium'), local('TuskerGrotesk-4500Medium'),
        url('/Fonte/TuskerGrotesk-4500Medium.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-4500Medium.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-4500Medium.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-4500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 2800 Super';
    src: url('/Fonte/TuskerGrotesk-2800Super.eot');
    src: local('Tusker Grotesk 2800 Super'), local('TuskerGrotesk-2800Super'),
        url('/Fonte/TuskerGrotesk-2800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-2800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-2800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-2800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 7700';
    src: url('/Fonte/TuskerGrotesk-7700Bold.eot');
    src: local('Tusker Grotesk 7700 Bold'), local('TuskerGrotesk-7700Bold'),
        url('/Fonte/TuskerGrotesk-7700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-7700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-7700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-7700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 4600';
    src: url('/Fonte/TuskerGrotesk-4600Semibold.eot');
    src: local('Tusker Grotesk 4600 Semibold'), local('TuskerGrotesk-4600Semibold'),
        url('/Fonte/TuskerGrotesk-4600Semibold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-4600Semibold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-4600Semibold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-4600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 3700';
    src: url('/Fonte/TuskerGrotesk-3700Bold.eot');
    src: local('Tusker Grotesk 3700 Bold'), local('TuskerGrotesk-3700Bold'),
        url('/Fonte/TuskerGrotesk-3700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-3700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-3700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-3700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 5800 Super';
    src: url('/Fonte/TuskerGrotesk-5800Super.eot');
    src: local('Tusker Grotesk 5800 Super'), local('TuskerGrotesk-5800Super'),
        url('/Fonte/TuskerGrotesk-5800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-5800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-5800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-5800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 3600';
    src: url('/Fonte/TuskerGrotesk-3600Semibold.eot');
    src: local('Tusker Grotesk 3600 Semibold'), local('TuskerGrotesk-3600Semibold'),
        url('/Fonte/TuskerGrotesk-3600Semibold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-3600Semibold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-3600Semibold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-3600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 2700';
    src: url('/Fonte/TuskerGrotesk-2700Bold.eot');
    src: local('Tusker Grotesk 2700 Bold'), local('TuskerGrotesk-2700Bold'),
        url('/Fonte/TuskerGrotesk-2700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-2700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-2700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-2700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 6700';
    src: url('/Fonte/TuskerGrotesk-6700Bold.eot');
    src: local('Tusker Grotesk 6700 Bold'), local('TuskerGrotesk-6700Bold'),
        url('/Fonte/TuskerGrotesk-6700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-6700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-6700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-6700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 5600';
    src: url('/Fonte/TuskerGrotesk-5600Semibold.eot');
    src: local('Tusker Grotesk 5600 Semibold'), local('TuskerGrotesk-5600Semibold'),
        url('/Fonte/TuskerGrotesk-5600Semibold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-5600Semibold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-5600Semibold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-5600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 8800 Super';
    src: url('/Fonte/TuskerGrotesk-8800Super.eot');
    src: local('Tusker Grotesk 8800 Super'), local('TuskerGrotesk-8800Super'),
        url('/Fonte/TuskerGrotesk-8800Super.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-8800Super.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-8800Super.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-8800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 6600';
    src: url('/Fonte/TuskerGrotesk-6600Semibold.eot');
    src: local('Tusker Grotesk 6600 Semibold'), local('TuskerGrotesk-6600Semibold'),
        url('/Fonte/TuskerGrotesk-6600Semibold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-6600Semibold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-6600Semibold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-6600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 4700';
    src: url('/Fonte/TuskerGrotesk-4700Bold.eot');
    src: local('Tusker Grotesk 4700 Bold'), local('TuskerGrotesk-4700Bold'),
        url('/Fonte/TuskerGrotesk-4700Bold.eot?#iefix') format('embedded-opentype'),
        url('/Fonte/TuskerGrotesk-4700Bold.woff2') format('woff2'),
        url('/Fonte/TuskerGrotesk-4700Bold.woff') format('woff'),
        url('/Fonte/TuskerGrotesk-4700Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




































































































/* ------------------------------ */
/* RESET BÁSICO                   */
/* ------------------------------ */
* {
    margin: 0;
    padding: 0;
}

/* ------------------------------ */
/* LAYOUT PRINCIPAL               */
/* ------------------------------ */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Tusker Grotesk 5500';
    color: #222222;
}

.titulo {
    position: absolute;
    top: 2vh;
    font-size: 2.5rem;
    font-family: 'Tusker Grotesk 3700';
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.conteudo-coluna {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12em;
}

.conteudo-sessao,
.divisao-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* ------------------------------ */
/* ÍCONES / CARDS                 */
/* ------------------------------ */
.img-competidor {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img-competidor:hover {
    transform: scale(1.05);
}

.icone {
    background-color: yellow;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    width: 12vw;
    height: 12vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    box-shadow: 0 0 50px #ffffffc2;
    border: 2px solid black;
}

/* ------------------------------ */
/* MODAL                          */
/* ------------------------------ */
.modal {
    display: flex; /* mantém centralização */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.05);

    justify-content: center;
    align-items: center;

    transition: opacity 0.6s ease, visibility 0.6s ease; /* fade suave */
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

/* Conteúdo do modal */
.modal-conteudo {
    display: flex;
    width: 85vw;
    height: 70vh;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 80px;
    color: #000000;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
}

.modal.show .modal-conteudo.reveal {
    opacity: 1;
    visibility: visible;
}

/* Imagem principal do modal */
.modal-conteudo > img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    opacity: 1 !important; /* nunca some */
    transition: none !important; /* sem fade */
}

/* Coluna da direita */
.conteudo-direita {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50vw;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.modal.show .conteudo-direita {
    opacity: 1;
    transform: translateY(0);
}

/* Cada bloco (imagem + texto) */
.item {
    display: flex;
    align-items: center;
    gap: 3em;
    text-align: end;
    flex-direction: row-reverse;
}

.item img {
    width: 10vw;
    height: 10vw;
    border-radius: 50px;
    object-fit: cover;
}

.item p {
    font-size: 1rem;
    line-height: 1.5;
    flex: 1;
    text-align: justify;
}

.item.invertido {
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    gap: 3em;
}

/* ------------------------------ */
/* CLONE DA IMAGEM ANIMADA        */
/* ------------------------------ */
.clone-img {
    position: fixed;
    z-index: 2000;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
    pointer-events: none;
}
